/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
    padding: 2em 3em;
    font-size: .8em;
}

table.patebin{
    border: 1px solid #444;
}

table.sourceforge{
    border: 1px solid #444;
}
table.sourceforge tr td{
    border: 1px solid #ddd;
}

td, div{
    white-space: nowrap;
    /*border: 1px solid #eee;*/
}

div#bank{
    padding:.2em 1em;
    border: 1px solid gray;
}

div#bank table tr td{
    padding:.0em .5em;
    white-space: nowrap;
}

div#players div{
    margin: -1px 0em;
    display: block;
}

div#players table tr td{
    padding:.0em .5em;
}

div.player table{
    border: 1px solid #999;
}

div#options table tr td{
    padding:.2em .5em
}

div#load_save table tr td{
    padding: .3em .5em;
}

img{
    margin-bottom: 4px;
    margin-right: .3em;
}

div#players table td div{
    height: 6px;
}
div#bank table td div{
    height: 6px;
}

.options_sim{
    background-color: #ddd
}
.options_bank{
    background-color: #eeb
}
.options_player{
    background-color: #beb
}

.ratio-bar{
    height:8px; 
    padding: 0px 0px;
}

.text-btn{
    cursor: pointer;
    background-color: #c0c0c0;
    font-size: small;
}

.ratio-bank{
    width: 50%;
    height: 10px;
}
.ratio-left{
    margin-right: -3px;
    text-align: left;
    border: none;
    border-right: 5px solid #444;
    float: left;
}


.ratio-player{
    width: 100%;
    height: 10px;
}
.ratio-right{
    text-align: right;
    border: none;
}

.help{
    cursor: help;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}